li a {
    display: inline-block;
    color: rgb(48, 48, 48);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

#app a:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

#searchbox, #Search {
    border-radius: 25px;
}

#Search:hover, #Search:focus-within{
    border-color: rgb(52, 82, 255);
    box-shadow: 1 1px, 1px 1 rgba(114, 135, 255, 0.28);
}

#buttons:hover, #buttons:focus-within{
    border-color: grey;
    box-shadow: honeydew;
}

.container{
    padding: 35px;
}

.btn, .btn-light{
    font-size: 14px;
}

.input-group-text{
    background-color: white;
    border: 0px;
}
    
.inputPaddingR {
    padding-right: 70px;
} 

.inputPaddingL {
    padding-left: 70px;
} 


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    min-height: 300px;
    margin-top: 55px;
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    font-size: small;
    background-color: rgb(238, 238, 238);
}

