li a {
    display: inline-block;
    color: rgb(48, 48, 48);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#app a:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

#Search, #searchbox{
    border-radius: 25px;
    border-collapse: collapse;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    min-height: 300px;
    margin-top: 50px;
}


