li a {
    display: inline-block;
    color: rgb(48, 48, 48);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#app a:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

#searchbox, #Search {
    border-radius: 25px;
}

#Search:hover, #Search:focus-within{
    border-color: rgb(114, 135, 255);
    box-shadow: 1 1px, 1px 1 rgba(114, 135, 255, 0.28);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    min-height: 300px;
    margin-top: 55px;
}

.container{
    padding: 35px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    font-size: small;
    background-color: rgb(238, 238, 238);
}

.marginright{
    display: flex;
    margin-right: 30px;
}
