ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li{
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #ddd;
}

li a.active{
    color: white;
    background-color: #04aa6d;
}

/*Style of the dropdoun button*/
.dropbtn{
    background-color: #4caf50;
    color: white ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*the conteiner <div> - needed to position the dropdown content*/
.dropdown{
    position: relative;
    display: inline-block;
}

/*Dropdown content(Hidden by default)*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0 px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/*Links inside the dropdown*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/**change color of dropdwon lins on hover*/
.dropdown-content a:hover{background-color: #f1f1f1;}


/* /*show the dropdown menu on hover*/
.dropdown:hover .dropdown-content{
    display: block;
}
 */

 /*CHnage the color of background of the dropdown button when the content is shown*/
 .dropdown:hover .dropbtn{
     background-color: #3e8e41;
 }